/* ENVIRONNEMENT */

@font-face {
  font-family: "Dahlia";
  src: url('/fonts/dahlia-regular.otf');
}

@font-face {
  font-family: "Dahlia";
  font-weight: bold;
  src: url('/fonts/dahlia-bold.otf');
}

@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}

:root {
  --primary-color: #FFFFFF;
  --active-color: #2B58DE;
  --black-color: #0F1110;
  font-family: "Inter", system-ui;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin: 0;
  font-family: "Dahlia";
  font-weight: bold;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}